#youxi-box{
    position: relative;
    width: 420px;
    height:531px;
    margin:10px auto;
    float: left;
}
#youxi-box li{
    float:left;
    width:70px;
    height:177px;
    overflow: hidden;
}
#youxi-box li img{
    width:70px;
    height:177px;
}
#youxi-box li.hig{
    width:66px;
    height:173px;
    overflow: hidden;
    border:2px dashed green;
}
#youxi-box li.hig img{
    width:66px;
    height:173px;
    opacity: 0.5;
    filter:alpah(opacity=50);/*为了兼容*/
}
#mask{
    position: absolute;
    top:0;
    left:0;
    width: 420px;
    height:531px;
    background: red;
    opacity:0;
    filter:alpha(opacity=0);
}
#youxi input{
    cursor:pointer;
    margin-top:250px;
}
#youxi-photo{
    width:80px;
    text-align:center;
    margin:50px 10% 50px 20%;
    float: left;
    width:80px;
}
#youxi-photo img{
    width:80px;
    height:100px;
    border-radius:5px;
    margin-bottom:50px;
    opacity:0.5;
    filter:alpha(opacity=50);
    cursor:pointer;
}
#youxi-photo img.hover{
    opacity:1;
    filter:alpha(opacity=100);
}
#youxi-photo img.selected{
    border:2px solid green;
    width:80px;
    height:100px;
    opacity:1;
    filter:alpha(opacity=100);
}
.btn{
    padding: 10px 20px;
    font-family: cursive;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
}

.btn:active{
    transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
    border-bottom: 1px solid;
}

.animate{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.green{
    background-color: #9ccc65;
    border-bottom: 5px solid #558b2f;
}
